{% extends 'admin/layouts/base.html' %}
{% load i18n %}
{% load static %}
{% block title %} All categories {% endblock title %}

{% block content %}

<div class="header bg-light pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-dark d-inline-block mb-0">Categories Summary</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Category</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Category content -->
<div class="container-fluid mt--6" style="background-color:lavender;">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="mb-0">Category Info</h3>
                        </div>
                        <div class="col-md-6" style="text-align: right;">
                            <a class="nav-link" href="/admin/medcare/category/{{category.id}}/change/"><i class="ni ni-settings-gear-65"></i><span class="nav-link-text"> Click here to modify category data</span></a>
                        </div>
                    </div>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="id">ID</th>
                                <th scope="col" class="sort" data-sort="product_name">Category name</th>
                                <th scope="col" class="sort" data-sort="image">Image</th>
                                <th scope="col" class="sort"></th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            {% if category_list.exists %}
                            {% for category in category_page_obj %}
                            <tr>
                                <th scope="row">
                                    {{ forloop.counter }}
                                </th>
                                <td class="product_name">
                                    <b>{{ category.name }}</b>
                                </td>
                                <td class="image">
                                    <a href="{{ category.image.url }}" class="avatar" data-toggle="tooltip" data-original-title="{{ category.name }}">
                                        <img alt="Image placeholder" src="{{ category.image.url }}">
                                    </a>
                                </td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                            <a class="dropdown-item" href="{% url 'admin-category-detail' category.id %}">See details/Edit</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td>{% trans 'Do not have any categories yet!' %}</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <!-- Card footer -->
                <div class="card-footer py-4">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-end mb-0">
                            {% if category_page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="?page={{ category_page_obj.previous_page_number }}&index=category"
                                    tabindex="-1">
                                    <i class="fas fa-angle-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            {% endif %}

                            {% for page_num in category_page_obj.paginator.page_range %}
                            {% if category_page_obj.number == page_num %}
                            <li class="page-item active">
                                <a class="page-link" href="?page={{ page_num }}&index=category">{{ page_num }}</a>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_num }}&index=category">{{ page_num }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}

                            {% if category_page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ category_page_obj.next_page_number }}&index=item">
                                    <i class="fas fa-angle-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
