<div class="bd">
{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="lr-form">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success" role="alert" style="margin-bottom: 0px;">
        <i class="far fa-check-circle" style="margin-right: 5px;"></i>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <span class="lrhead">{% translate "Login" %}</span>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% translate 'Submit' %}">
        <input type="hidden" value="{{ LOGIN_REDIRECT_URL }}" name="next" />
    </form>
    <div style="text-align: center;">
        <a href="">{% translate "Forgot Password?" %}</a>
        <p class="text-muted">
            {% translate "Need an Account?" %} <a class="ml-2" href="{% url 'register' %}">{% translate "Sign Up Now" %}</a>
        </p>
    </div>
</div>

{% endblock %}

{% block jscode %}
<script src="{% static 'js/alert.js' %}" defer></script>
<script>
    $(document).ready(function(e){
        $("#menu").hide();
    });
</script>
{% endblock %}
