{% extends "base_generic.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container" style="margin-top: 30px; margin-bottom: 30px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">All products</li>
        </ol>
    </nav>
</div>

<div class="container">
    <h3 id="title-char">Medicine Index starting with - {{ request.session.char }}</h3>
    <div id="charFilter"class="d-flex flex-row" style="margin-top: 30px;">
        <button class="index index-active" id="A">A</button>
        <button class="index" id="B">B</button>
        <button class="index" id="C">C</button>
        <button class="index" id="D">D</button>
        <button class="index" id="E">E</button>
        <button class="index" id="F">F</button>
        <button class="index" id="G">G</button>
        <button class="index" id="H">H</button>
        <button class="index" id="I">I</button>
        <button class="index" id="J">J</button>
        <button class="index" id="K">K</button>
        <button class="index" id="L">L</button>
        <button class="index" id="M">M</button>
        <button class="index" id="N">N</button>
        <button class="index" id="O">O</button>
        <button class="index" id="P">P</button>
        <button class="index" id="Q">Q</button>
        <button class="index" id="R">R</button>
        <button class="index" id="S">S</button>
        <button class="index" id="T">T</button>
        <button class="index" id="U">U</button>
        <button class="index" id="V">V</button>
        <button class="index" id="W">W</button>
        <button class="index" id="X">X</button>
        <button class="index" id="Y">Y</button>
        <button class="index" id="Z">Z</button>
    </div>
    <h4 class="result" style="margin-top: 30px;">Having {{ count }} {% if count == 0 %} result{% else %} results{% endif %}</h4>
    <div id="pro" class="row products-list" style="margin-top:40px; margin-bottom: 100px;">
        {% for product in products %}
        <div class="col-md-3" style="margin-bottom: 20px; border-radius: 8%;">
            <div class="card" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; position:relative; z-index: 1;">
                {% if product.valid_day and product.discount > 0 %}
                    <span class="ribbo">
                        <span><b style="color:white;"><div style="color: yellow;">{{ product.discount }}%</div> OFF</b></span>
                    </span>
                {% endif %}
                <div class="my-4 text-center border-0">
                    <div>
                        <a href="{% url 'product-detail' product.pk %}" target="_blank">
                            <img src="{{ product.image.url }}" style="align-content: center; border-radius: 8%;" width="180" height="180" alt="{{ product.product_name }}" target="_blank">
                        </a>
                    </div>
                </div>
                <div class="card-body text-center">
                    <span data-toggle="tooltip" data-placement="top" title="{{ product.product_name }}"></span>
                        <p class="card-text mb-1 text-truncate">{{ product.product_name }}</p>
                    </span>
                    {% if product.valid_day and product.discount > 0 %}
                    <div class="row" style="margin-bottom: 16px;">
                        <div class="col-md-6" style="text-align: right; padding-right: 5px;">
                            <p class="card-text" style="color: dimgrey;"><del>{{ product.price|floatformat:2 }} $</del></p>
                        </div>
                        <div class="col-md-6" style="text-align: left; padding-left: 5px;">
                            <p class="card-text font-weight-bold">{{ product.get_discount_price|floatformat:2 }} $</p>
                        </div>
                    </div>
                    {% else %}
                    <p class="card-text font-weight-bold">{{ product.price|floatformat:2 }} $</p>
                    {% endif %}
                    <div class="favorite_area">
                        <div class="fav">
                            {% if user.is_authenticated %}
                            <div class="row">
                                <div class="col-md-8" style="padding-left: 45px;">
                                    <a href="{% url 'product-detail' product.pk %}" class="btn btn-primary" target="_blank">View details</a>
                                </div>
                                {% if product.id in favorite_product_ids %}
                                <div class="col-md-4" id="favorArea_{{ product.id }}">
                                    <a class="wishlist" id="wishlist_{{ product.id }}">
                                        <button class="btn" style="padding-left: 0px; color: #bb8672;"><i class="fas fa-heart ml-2"></i></button>
                                    </a>
                                </div>
                                {% else %}
                                <div class="col-md-4" id="favorArea_{{ product.id }}">
                                    <a class="wishlist" id="wishlist_{{ product.id }}">
                                        <button class="btn" style="padding-left: 0px;"><i class="far fa-heart ml-2"></i></button>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                            {% else %}
                            <div class="row">
                                <div class="col-md-8" style="padding-left: 45px;">
                                    <a href="{% url 'login' %}" class="btn btn-primary" target="_blank">View details</a>
                                </div>
                                <div class="col-md-4">
                                    <a href="{% url 'login' %}">
                                        <button class="btn" style="padding-left: 0px;"><i class="far fa-heart ml-2"></i></button>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div id="cssLoader17" class="main-wrap main-wrap--white" style="z-index: 5; display: none;">
    <div class="loader-background">
        <div class="cssLoader17"></div>
    </div>
</div>

<script>
    $('.index').click(function(event){
        // preventing default actions
        event.preventDefault();
        var char = $(this).attr('id');
        // ajax call
            $.ajax({
                    type: "POST",
                    // define url name
                    url: "{% url 'product-list' %}", 
                    data : {    
                    char : char, 
                    action : 'filter',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                // handle a successful response
                success: function (data) {
                    document.getElementById("cssLoader17").style.display = "flex" 
                    setTimeout(function () {
                        document.getElementById("cssLoader17").style.display = "none";
                        $('#pro').html(data.list[0]);
                        $('#title-char').html('Medicine Index starting with - '+ data.list[1].char +'');
                        if (data.list[1].count != 0){
                            $('h4.result').html('Having '+ data.list[1].count +' results');
                        }
                        else{
                            $('h4.result').html('Having 0 result');
                        }
                    }, 1000);
                }.bind(this),
                error: function(xhr, status, error) {
                    var err = JSON.parse(xhr.responseText);
                    alert(err.Message);
                }
            }); 
    });    
</script>

<script>
    // Get the container element
    var btnContainer = document.getElementById("charFilter");

    // Get all buttons with class="btn" inside the container
    var btns = btnContainer.getElementsByClassName("index");

    // Loop through the buttons and add the active class to the current/clicked button
    for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("index-active");
        current[0].className = current[0].className.replace(" index-active", "");
        this.className += " index-active";
    });
    }
</script>

<script>
    $(function() {
        $(document).on('click', '.wishlist', function (e) {
        // preventing default actions
        event.preventDefault();
        var $id = $(this).attr('id');
        var target = $id.substring($id.indexOf('_') + 1);
        // ajax call
            $.ajax({
                    type: "POST",
                    // define url name
                    url: "{% url 'home' %}", 
                    data : {    
                    id : target, 
                    action : 'addWishlist',
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                // on success
                success: function (response) {
                    $("#wishlist_"+target).remove();
                    if (response.liked == true){
                        $("#favorArea_"+target).append(
                            '<a class="wishlist" id="wishlist_'+ target +'">'+
                                '<button class="btn" style="padding-left: 0px; color: #bb8672;"><i class="fas fa-heart ml-2"></i></button>'+
                            '</a>'
                        )
                    }
                    else {
                        $("#favorArea_"+target).append(
                            '<a class="wishlist" id="wishlist_'+ target +'">'+
                                '<button class="btn" style="padding-left: 0px;"><i class="far fa-heart ml-2"></i></button>'+
                            '</a>'
                        )
                    }
                    toastr.options = {
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "showDuration": "500",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    if (response.status == "success") {
                        toastr["success"](response.message);
                    }
                    else if (response.status == "warning") {
                        toastr["warning"](response.message);
                    }
                    else if (response.status == "error") {
                        toastr["error"](response.message);
                    }
                },
                // on error
                error: function (response) {
                    // alert the error if any error occured
                    alert(response.status)
                }
            }); 
        return false;
    });   
}); 
</script>
{% endblock %}

{% block jscode %}
<script src="{% static 'js/alert.js' %}" defer></script>
{% endblock %}
