{% for product in products %}
<div class="col-md-3" style="margin-bottom: 20px; border-radius: 8%;">
    <div class="card" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; position:relative; z-index: 1;">
        {% if product.valid_day %}
            <span class="ribbo">
                <span><b style="color:white;"><div style="color: yellow;">{{ product.discount }}%</div> OFF</b></span>
            </span>
        {% endif %}
        <div class="my-4 text-center border-0">
            <div>
                <a href="{% url 'product-detail' product.pk %}" target="_blank">
                    <img src="{{ product.image.url }}" style="align-content: center; border-radius: 8%;" width="180" height="180" alt="{{ product.product_name }}" target="_blank">
                </a>
            </div>
        </div>
        <div class="card-body text-center">
            <span data-toggle="tooltip" data-placement="top" title="{{ product.product_name }}"></span>
                <p class="card-text mb-1 text-truncate">{{ product.product_name }}</p>
            </span>
            {% if product.valid_day %}
            <div class="row" style="margin-bottom: 16px;">
                <div class="col-md-6" style="text-align: right; padding-right: 5px;">
                    <p class="card-text" style="color: dimgrey;"><del>{{ product.price|floatformat:2 }} $</del></p>
                </div>
                <div class="col-md-6" style="text-align: left; padding-left: 5px;">
                    <p class="card-text font-weight-bold">{{ product.get_discount_price|floatformat:2 }} $</p>
                </div>
            </div>
            {% else %}
            <p class="card-text font-weight-bold">{{ product.price|floatformat:2 }} $</p>
            {% endif %}
            <div class="favorite_area">
                <div class="fav">
                    {% if user.is_authenticated %}
                    <div class="row">
                        <div class="col-md-8" style="padding-left: 45px;">
                            <a href="{% url 'product-detail' product.pk %}" class="btn btn-primary" target="_blank">View details</a>
                        </div>
                        {% if product.id in favorite_product_ids %}
                        <div class="col-md-4" id="favorArea_{{ product.id }}">
                            <a class="wishlist" id="wishlist_{{ product.id }}">
                                <button class="btn" style="padding-left: 0px; color: #bb8672;"><i class="fas fa-heart ml-2"></i></button>
                            </a>
                        </div>
                        {% else %}
                        <div class="col-md-4" id="favorArea_{{ product.id }}">
                            <a class="wishlist" id="wishlist_{{ product.id }}">
                                <button class="btn" style="padding-left: 0px;"><i class="far fa-heart ml-2"></i></button>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-md-8" style="padding-left: 45px;">
                            <a href="{% url 'login' %}" class="btn btn-primary" target="_blank">View details</a>
                        </div>
                        <div class="col-md-4">
                            <a href="{% url 'login' %}">
                                <button class="btn" style="padding-left: 0px;"><i class="far fa-heart ml-2"></i></button>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
