{% if category_page_obj %}
{% for category in category_page_obj %}
<tr>
    <th scope="row">
        {{ forloop.counter }}
    </th>
    <td class="category_name">
        <b>{{ category.name }}</b>
    </td>
    <td class="image">
        <a href="{{ category.image.url }}" class="avatar" data-toggle="tooltip" data-original-title="{{ category.name }}">
            <img alt="Image placeholder" src="{{ category.image.url }}">
        </a>
    </td>
    <td class="text-right">
        <div class="dropdown">
            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                <a class="dropdown-item" href="{% url 'admin-category-detail' category.id %}">See details/Edit</a>
            </div>
        </div>
    </td>
</tr>
{% endfor %}
{% else %}
<p style="margin-left: 20px; margin-top: 10px;">No categories found.</p>
{% endif %}
