{% if coupon_page_obj %}
{% for coupon in coupon_page_obj %}
<tr>
    <th scope="row">
        {{ forloop.counter }}
    </th>
    <td class="title">
        <b>{{ coupon.title }}</b>
    </td>
    <td class="content">
        <b>{{ coupon.content }}</b>
    </td>
    <td class="code">
        <b>{{ coupon.code }}</b>
    </td>
    <td class="value">
        <b>{{ coupon.value }}</b>
    </td>
    <td class="coupon_expired">
        <b>{{ coupon.coupon_expired }}</b>
    </td>
    <td class="minimum_order">
        <b>{{ coupon.minimum_order }}</b>
    </td>
    <td class="text-right">
        <div class="dropdown">
            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-ellipsis-v"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                <a class="dropdown-item" href="{% url 'admin-coupon-detail' coupon.id %}">See details/Edit</a>
            </div>
        </div>
    </td>
</tr>
{% endfor %}
{% else %}
<p style="margin-left: 20px; margin-top: 10px;">No coupons found.</p>
{% endif %}
